.overlay-modal-hide {
  display: none !important;
}
.overlay-modal-show {
  display: block;
}
.overlay-modal {
  z-index: 1501;
  position: fixed;
  width: 100%;
  height: 100%;
  left: 0px;
  top: 0px;
  transform: translate(0px, 0px);
  transition: all;
  overflow: visible;
  background-color: rgba(0, 0, 0, 0.45);
}
.overlay-modal .overlay-modal-content {
  max-height: 95%;
  width: 560px;
  height: auto;
  z-index: 1501;
  left: 0px;
  top: 0px;
  transition: none;
  opacity: 1;
  border: none !important;
  background: #ffffff;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
  overflow: hidden !important;
  border-radius: 4px !important;
  font-family: Inter;
  color: #000000;
  display: flex;
  flex-wrap: wrap;
  pointer-events: auto;
  outline: 0;
}
.modal-container {
  height: auto;
  max-height: 660.25px;
  min-height: 0px;
  position: relative;
  box-sizing: border-box;
  flex: 1;
  max-width: 100%;
  flex-basis: 100%;
  padding: 0 !important;
  height: 100%;
  width: 100%;
}
.modal-header {
  margin: 24px 16px 0 24px;
  display: flex;
  justify-content: space-between;
}
.modal-header .title {
  font-weight: 700;
  font-size: 24px;
}
.modal-header .close-icon {
  cursor: pointer;
  width: 22px;
  height: 22px;
  min-width: 22px;
  mask-image: url('../../icons/ICON.svg');
  mask-repeat: no-repeat;
  mask-position: -75px -140px;
  background-color: #666666;
}
.scroll-view {
  position: static;
  max-height: 550px;
  overflow-y: auto;
  z-index: 1502;
}
.modal-body .scroll-view .scroll-wrapper {
  padding: 24px !important;
  font-size: 14px;
  scroll-behavior: smooth;
}
.modal-body .scroll-view .scroll-wrapper .file-import {
  position: relative;
  text-align: center;
  display: flex;
  align-items: center;
  width: 100%;
  height: 100px;
  border: 1px dashed #e0e0e0;
  border-radius: 3px;
  justify-content: center;
}
.wrap-file {
  text-align: center;
  font-size: 13px !important;
  width: 100% !important;
}
.wrap-file .file-info {
  width: 100% !important;
}
.wrap-file .file-info .file-msg {
  color: #2970f6;
}
.wrap-file .file-info .file-msg2 {
  margin-top: 0.5rem !important;
  color: #6a727d;
}

#file-input {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  cursor: pointer;
  opacity: 0;
  font-family: Inter;
  line-height: 1.35715;
}
.scroll-wrapper .info-candidate {
  display: flex;
  margin-top: 1rem !important;
}
.info-candidate .avatar-candidate {
  padding-top: 15px;
}
.info-candidate .avatar-candidate .avatar-modal {
  width: 24px;
  height: 24px;
  min-width: 24px;
  min-height: 24px;
  border-radius: 50%;
  color: #ffffff;

  width: 63px;
  height: 63px;
  border-radius: 50%;
  margin-right: 16px;
  margin-top: 3px;
  position: relative;
}
.avatar-modal .show-image {
  align-items: center;
  justify-content: center;
  cursor: pointer;
  width: 100%;
  height: 100%;
  border-radius: 50% !important;
  object-fit: cover;
  border: 1px dashed #e0e0e0;
  display: flex !important;
}
.avatar-modal .show-image .image {
  z-index: 1000000;
  color: #b2b2b2;
  font-size: 13px;
}
.input-info {
  flex: 1;
}
.input-info .right-content {
  margin-right: 0.5rem !important;
}
.input-info .right-content .input-fullname {
  margin: 8px 0 !important;
}
.right-content .label-input {
  font-size: 15px;
  color: #1e2633;
  height: 25px !important;
  line-height: 25px !important;
  font-weight: 600;
  white-space: nowrap !important;
}
.right-content .label-input .color-red {
  color: #ff1d1d !important;
  margin-left: 4px;
}
.right-content .field-input {
  height: 32px !important;
  line-height: 32px !important;
  padding: 0 16px;
  font-size: 14px !important;
  width: 100%;
  border: 1px solid #dddde4;
  border-radius: 3px;
  color: #201e1e;
  margin: 0;
}
.right-content .field-input:focus {
  border: 1px solid #407ff7 !important;
  outline: none !important;
}
.field-container textarea {
  min-height: 100px !important;
  overflow-y: hidden;
  resize: none;

  padding: 0 16px;
  padding-top: 5px;
  font-size: 14px !important;
  width: 100%;
  border: 1px solid #dddde4;
  border-radius: 3px;
  color: #201e1e;
  margin: 0;
}
.field-container textarea:focus {
  border: 1px solid #407ff7 !important;
  outline: none !important;
}
.right-content .input-dup {
  display: flex;
  gap: 10px;
  align-items: center;
  margin: 8px 0 !important;
  width: 100%;
}
.input-dup .dup-row {
  width: 50%;
}
.input-dup .dup-row .format-date {
  color: #b2b2b2;
  position: relative;
}
.dropdown-toggle .dropdown-text {
  font-weight: normal !important;
}
.dropdown-toggle .dropdown-icon {
  mask-image: url(../../icons/ICON.svg);
  mask-position: -36px -53px;
  mask-repeat: no-repeat;
  width: 8px;
  height: 6px;
  min-width: 8px;
  background-color: #9e9e9e;
}
.candidate-info .row-input {
  display: grid;
  grid-template-columns: 150px calc(100% - 150px);
}
.candidate-info .row-input .contact-field {
  margin-left: 8px;
  font-weight: 500;
  font-size: 14px;
}
.candidate-info .row-input .icon-phone {
  mask-image: url(../../icons/ICON.svg);
  mask-position: -192px 0;
  mask-repeat: no-repeat;
  width: 16px;
  height: 16px;
  min-width: 16px;
  background-color: #212121;
}
.candidate-info .row-input .icon-email {
  mask-image: url(../../icons/ICON.svg);
  mask-position: -260px -656px;
  mask-repeat: no-repeat;
  width: 20px;
  height: 20px;
  min-width: 20px;
  background-color: #7a8188;
}
.candidate-info .row-input .icon-location {
  mask-image: url(../../icons/ICON.svg);
  mask-position: -160px -15px;
  mask-repeat: no-repeat;
  width: 16px;
  height: 16px;
  min-width: 16px;
  background-color: #212121;
}
.candidate-info .row-input .icon-skype {
  mask-image: url(../../icons/ICON.svg);
  mask-position: -240px -80px;
  mask-repeat: no-repeat;
  width: 16px;
  height: 16px;
  min-width: 16px;
  background-color: #212121;
}
.candidate-info .row-input .icon-facebook {
  mask-image: url(../../icons/ICON.svg);
  mask-position: -240px -64px;
  mask-repeat: no-repeat;
  width: 16px;
  height: 16px;
  min-width: 16px;
  background-color: #212121;
}
.candidate-info .row-input .icon-zalo {
  mask-image: url(../../icons/ICON.svg);
  mask-position: -366px -140px;
  mask-repeat: no-repeat;
  width: 16px;
  height: 16px;
  min-width: 16px;
  background-color: #212121;
}
.candidate-info .row-input .icon-link {
  mask-image: url(../../icons/ICON.svg);
  mask-position: -255px -64px;
  mask-repeat: no-repeat;
  width: 16px;
  height: 16px;
  min-width: 16px;
  background-color: #212121;
}
.add-new-context {
  margin-left: 5px;
  color: #2680eb;
}
.candidate-info .row-input input {
  height: 32px;
  border-radius: 4px;
  border: 1px solid #dddde4;
  padding-left: 20px;
  width: 100%;
  font-size: 13px !important;
}
.row-input .icon-circle {
  min-width: 7px;
  height: 7px;
  width: 7px;
  margin-right: 8px;
  border-radius: 50%;
  background-color: black;
}
.candidate-info .row-input input:hover {
  border: 1px solid #407ff7 !important;
  outline: none !important;
}
.candidate-info .row-input input:focus {
  border: 1px solid #407ff7 !important;
  outline: none !important;
}
.candidate-info .title-candidate-info {
  font-weight: 700;
  margin-bottom: 16px;
  font-size: 15px;
  margin-top: 32px;
}
.datetime-dropdown-show {
  display: block;
}
.datetime-dropdown-hide {
  display: none;
}
.datetime-dropdown {
  top: 0px;
  left: 0px;
  position: absolute;
  transform: translate(0px, 25px);
  right: 0;
  bottom: auto;
  background-color: #ffffff;
  border: none;
  border-radius: 4px;
  margin: 0px !important;
  z-index: 1000;
  padding: 0px;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
  float: left;
  min-width: 10rem;
  font-size: 1rem;
  color: #212529;
  text-align: left;
  list-style: none;
  background-clip: padding-box;
}
.datetime-dropdown .dropdown-item {
  border-radius: 0px !important;
  border: none !important;
  font-size: 14px;
  height: 40px;
  line-height: 40px;
  text-align: left;
  padding: 0px 12px;
  display: flex;
  align-items: center !important;
}
.datetime-input {
  padding-left: 15px !important;
  font-weight: normal;
  font-family: Inter, Helvetica, Arial, sans-serif;
  text-overflow: ellipsis;
  border-radius: 3px;
  min-height: 32px;
  padding: 0px 16px 0 16px;
  font-size: 14px !important;
  line-height: 1.35715;
  width: 100%;
  height: 100%;
  outline: 0;
  border: 1px solid #e5e5ea;
}
.calendar-setting {
  width: 34px;
  border: 1px solid #dddde4;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-left: 0;
  top: 0;
  right: 0;
  height: 32px;
}
.icon-calendar-vertical {
  mask-image: url(../../icons/ICON.svg);
  mask-repeat: no-repeat;
  mask-position: -342px -678px;
  width: 16px;
  height: 16px;
  min-width: 16px;
  background-color: #7a8188;
}
.row-input .arrow-setting {
  width: 40px;
  border: 1px solid #dddde4;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-left: 0;
  top: 0;
  right: 0;
  height: 32px;
}
.arrow-setting {
  width: 60px;
  border: 1px solid #dddde4;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-left: 0;
  top: 0;
  right: 0;
  height: 32px;
}
.icon-arrow-down {
  mask-image: url(../../icons/ICON.svg);
  mask-repeat: no-repeat;
  mask-position: -36px -807px;
  width: 12px;
  height: 7px;
  min-width: 12px;
  background-color: #7a8188;
}
.dictionary-setting {
  width: 34px;
  border: 1px solid #e0e0e0;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
  background: #f5f5f5;
  display: flex;
  justify-content: center;
  align-items: center;
  border-left: 0;
  top: 0;
  right: 0;
  height: 32px;
}
.icon-more-vertical {
  mask-image: url(../../icons/ICON.svg);
  mask-repeat: no-repeat;
  mask-position: -362px -624px;
  width: 16px;
  height: 4px;
  min-width: 16px;
  background-color: #7a8188;
}
.education-info {
  border-bottom: 1px solid #dee2e6 !important;
  margin-bottom: 16px;
  padding-bottom: 16px;
  flex-direction: column;
}
.icon-dot {
  width: 15px;
  min-width: 15px;
  height: 15px;
  background: url(https://amisplatform.misacdn.net/apps/recruit/assets/images/ICON.svg) -305px -33px
    no-repeat;
}
.education-info .label-input {
  width: 150px;
  font-size: 16px;
  color: #201e1e;
  height: 25px !important;
  line-height: 25px !important;
  font-family: Inter;
  font-weight: 500;
}
.education-info-item {
  margin-top: 8px;
  justify-content: space-between;
  position: relative;
}
.icon-plus {
  mask-image: url(../../icons/ICON.svg);
  mask-repeat: no-repeat;
  mask-position: -369px -705px;
  width: 14px;
  height: 14px;
  min-width: 14px;
  background-color: #2580eb;
}
.row-input .plus-input {
  position: absolute;
  right: 45px;
}
.plus-input {
  position: absolute;
  right: 38px;
}
.icon-sub {
  mask-image: url(../../icons/ICON.svg);
  mask-repeat: no-repeat;
  mask-position: -130px -1032px;
  width: 20px;
  height: 20px;
  min-width: 20px;
  background-color: #eb2525;
}
.sub-input {
  position: absolute;
  right: -25px;
}
.sub-input-show {
  display: block;
  cursor: pointer;
}
.sub-input-hide {
  display: none;
}
.education-setting {
  width: 60px;
  border: 1px solid #e0e0e0;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-left: 0;
  top: 0;
  right: 0;
  height: 32px;
}
.icon-arrow-down {
  mask-image: url(../../icons/ICON.svg);
  mask-repeat: no-repeat;
  mask-position: -36px -807px;
  width: 12px;
  height: 7px;
  min-width: 12px;
  background-color: #7a8188;
}
.input-recent-workplace {
  border-bottom: 1px solid #dee2e6 !important;
  margin-bottom: 16px;
  padding-bottom: 16px;
}
/* Footer */
footer {
  width: 100% !important;
  height: 56px !important;
  padding: 9px 24px !important;
  border-top: 1px solid #dddde4;
  background-color: #f1f2f5 !important;
}
footer .float-right {
  gap: 8px;
  display: flex;
  float: right !important;
}
.btn-close {
  color: #888888 !important;
  border: none;
  background-color: unset;
  padding: 0px;
  display: inline-block;
  font-weight: 400;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -webkit-user-select: none;
  user-select: none;
  border: 1px solid transparent;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  line-height: 1.5;
  border-radius: 0.25rem;
  transition:
    color 0.15s ease-in-out,
    background-color 0.15s ease-in-out,
    border-color 0.15s ease-in-out,
    box-shadow 0.15s ease-in-out;
  outline: none;
  font-size: 14px !important;
  padding: 7px 16px !important;
  border-radius: 4px !important;
  color: #1e2633 !important;
  border: none !important;
  background-color: unset !important;
  height: 36px !important;
  position: relative;
  width: auto !important;
}
